{% extends "volunteering/base.html" %}
{% load static %}
{% block content %}
<header class="text-center" style="color: rgb(28,153,84);">
    <h2>Welcome to the Volunteering App</h2>
    <img src="{% static 'sitecore/img/short_banner.png' %}">
</header>
<div class="card" style="margin: 10px;">
    <div class="card-header" style="color: rgb(33, 37, 41);background: rgba(28,153,84,0.4);">
        <a href="{% url 'volunteering:all_volunteer_projects' %}"><h5 class="mb-0" style="color: #ffffff;">All Volunteer Projects</h5></a>
    </div>
    <div class="card-body">
        <p class="card-text">View all currently available volunteer projects, search, or browse by category.&nbsp;</p>
    </div>
</div>
{% if user_projects %}
<div class="card" style="margin: 10px;">
    <div class="card-header" style="background: rgba(28,153,84,0.4);">
        <a href="#"><h5 class="mb-0" style="color: #ffffff;">My Resource Lists</h5></a>
    </div>
    <div class="card-body">
        <p class="card-text">View the volunteer projectsyou have created, are currently managing, or have applied to.</p>
    </div>
</div>
{% endif %}
{% endblock content %}