{% extends "volunteering/base.html" %}
{% block content %}
<h1>
    {{ project.title }}
</h1>
<p>Volunteer Project</p>
<hr>
{% for category, detail_list in categories_detials.items %}
    <h3>
        {{ category }}
    </h3>
    {% for detail in detail_list %}
    <ul>
        <li>
            <p>
                {{ detail }}
            </p>
        </li>
    </ul>
    {% endfor %}
{% endfor %}
{% if user_projects %}
<p>
    <a href="{% url 'volunteering:my_volunteer_projects' %}">Back to my Volunteer Projects</a>
</p>
{% endif %}
<p>
    <a href="{% url 'volunteering:all_volunteer_projects' %}">Back to all Volunteer Projects</a>
</p>
{% endblock content %}