<!DOCTYPE html>
<html>
<head>
<title>Ready Tech Pro</title>
<style>
    body {font-family: sans-serif;}
    table {
    width: 100%;
    border-width: 0px;
    border-color: white;
    margin: 25px 0;
    }
    th, td {
    border: 1px solid transparent;
    background-color: #ededed;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 18%);
    padding: 5px;
    }
    th p {font-size: 50%;}
    td p {font-size: 75%;}
    img {
        max-width: 200px;
    }
</style>
</head>
<body>
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
<hr>
{% endfor %}
{% endif %}
{% if user.is_authenticated %}
<a href="{% url 'users:logout' %}">Logout</a>
{% else %}
<a href="{% url 'users:login' %}">Login</a>
{% endif %}
    {% block content %}
    <p>no page content</p>
    {% endblock content %}
</body>
</html>