{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Ready Tech Pro</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'sitecore/css/Navigation-Clean.css' %}">
<link rel="stylesheet" href="{% static 'sitecore/css/Footer-Clean.css' %}">
<link rel="stylesheet" href="{% static 'sitecore/css/styles.css' %}">
</head>
<body>

{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
<hr>
{% endfor %}
{% endif %}


{% if user.is_authenticated %}
<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container">
        <a class="navbar-brand" href="{% url 'sitecore:index' %}">Ready Tech Pro <i class="fa fa-home" style="color: rgb(28,153,84);"></i></a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' %}">profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">log out</a></li>
            </ul>
        </div>
    </div>
</nav>
{% else %}
<div role="alert" class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <span><a href="{% url 'users:login' %}"><strong>Log in</strong></a> to access customized features.</span>
</div>
<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand" href="{% url 'sitecore:index' %}">Ready Tech Pro</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <i class="fa fa-home" style="color: rgb(28,153,84);"></i>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}
    {% block appnav %}
    {% endblock appnav %}
    {% block content %}
    <p>no page content</p>
    {% endblock content %}

    <footer class="footer-clean">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Apps</h3>
                    <ul>
                        <li><a href="{% url 'resources:index' %}">Resources</a></li>
                        <li><a href="{% url 'volunteering:index' %}">Volunteering</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="{% url 'sitecore:index' %}">Programs</a></li>
                        <li><a href="{% url 'sitecore:faq' %}">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>More</h3>
                    <ul>
                        <li><a href="https://www.readytechpro.org">Static Site</a></li>
                        <li><a href="https://www.readytechpro.org/community">Join Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <a href="https://github.com/readytechpro"><i class="icon ion-social-github"></i></a>
                    <a href="{% url 'sitecore:faq' %}"><i class="icon ion-social-usd"></i></a>
                    <a href="mailto:info@readytechpro.org"><i class="icon ion-email"></i></a>
                    <a href="https://www.readytechpro.org/community"><i class="icon ion-chatboxes"></i></a>
                    <p class="copyright">Ready Tech Pro © 2021</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>