{% extends "sitecore/base.html" %}
{% block content %}
<h1>Welcome to Ready Tech Pro</h1>
<p>You are at the main page.</p>
<hr>
<hr>
{% if about_pages %}
<h3>About our programs in development</h3>
<hr>
{% for page in about_pages %}
<a href="{% url 'sitecore:about-program-detail' page.label %}">About our {{ page.title }} Program</a><br>
<hr>
{% endfor %}
<hr>
{% endif %}
<h3>More</h3>
<hr>
<a href="{% url 'resources:index' %}">Resources Program portal</a>
<hr>
<hr>
<a href="{% url 'volunteering:index' %}">Volunteering portal</a>
<hr>
<hr>
<a href="{% url 'sitecore:faq' %}">Visit our FAQs page</a>
{% endblock content %}