{% extends "sitecore/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit">request password reset</button>
        </div>
    </form>
    <div>
        <p>Don't have an account?</p>
        <a href="{% url 'users:register' %}">Register</a>
    </div>
</div>
{% endblock content %}
