{% extends "sitecore/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="text-center">
    <h1 class="text-black-50">{{ user.username }}'s User Profile</h1>
</header>
<div class="card border-dark" style="margin: 10px;border-radius: 5px;border-width: 1px;box-shadow: 1px 1px 2px 1px rgba(28,153,84,0.8);">
    <div class="card-header" style="background: rgba(28,153,84,0.4);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="mb-0">{{ user.username }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col text-center" style="background: rgba(28,153,84,0.1);"><img class="rounded img-fluid" src="{{ user.profile.image.url }}" width="500" height="500"></div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 style="color: rgb(28,153,84);">User Information</h5>
        <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-check-circle-o" style="margin: 5px;color: #1c9954;"></i><span>{{ user.username }}</span></li>
            <li class="list-group-item"><i class="fa fa-check-circle-o" style="margin: 5px;color: #1c9954;"></i><span>{{ user.email }}</span></li>
        </ul>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col" style="background: rgba(28,153,84,0.1);">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <h2 class="text-center">update your information</h2>
                            <div class="form-group">{{ u_form|crispy }}</div>
                            <div class="form-group">{{ p_form|crispy }}</div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-secondary"><strong>Update</strong> my user profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card" style="margin: 0px;background: rgba(28,153,84,0.2);">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-6"><a class="btn btn-outline-secondary" role="button" style="border-width: 2px;" href="#">go to my <strong>Volunteer Projects</strong></a></div>
                <div class="col-6"><a class="btn btn-outline-secondary" role="button" style="border-width: 2px;" href="{% url 'resources:my_learning_resources' %}">go to my <strong>Resources</strong></a></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}